<div class="header">
    <div>
        <img alt='shopping image' src="./../../assets/shopping.jpg" height="'240" width="320">
    </div>
    <div class="site-slogan">
       <h2>
        {{slogan}}<br>
        <!-- {{getSlogan()}}  // here both the function can be executed for it-->
        </h2>
    </div>
</div>

<!-- 
    here we are using the string interpolation where we are just passing the data from the ts file to the HTML file,
    hence we can use string interpolation. hence one side data is passed 

    here we can pass function inside the string interpolation and also we can have the number 
    and perform add,mul,sub.

-->