.header {
    height: 280px;
    padding: 30px 40px;
    display: flex;
    background-color: white;
}

.site-slogan {
    width: 420px;
    margin-left: 40px;
    text-align: center;
}
h2 {
    font-size: 45px;
}